@charset "UTF-8";
 body{
	background-color: black;
	color: white;
} 

#nav {
	position: fixed;
  left: 50%;
  bottom: 20px;
  transform: translate(-50%, -50%);
  margin: 0 auto;
 
}

.input-group {
	
	width: 250px;
	left: 80%;
	top: 20px;
	position: fixed;
}

h1{
text-align: center;	
font-family: Copperplate;
font-size:500%;

}

.delete {
	bottom: 20px;
	position: fixed;
	left: 85%;
	color: silver;
	background-color: #800000;
}
#logoutB{
	top:20px;
	position: fixed;
	left: 85%;
	
} 
#updateB{
	top: 60px;
	position: fixed;
	left: 85%;
	
}
th{
	text-align: center;	
	font-family: Copperplate;
	color: #800000;
}

td {
	text-align: center;	
	font-family: Copperplate;
	color: silver;
}

.table{
	position: fixed;
  left: 50%;
  bottom: 20px;
  transform: translate(-50%, -50%);
  margin: 0 auto;
	color: silver;
}
#loginbtn{
	top:20px;
	position: fixed;
	
}
#createAccountBtn{
	top:230px;
	position: fixed;
	left: 74%;
}
#tagline{
	text-align: center;
	color: gray;
	font-size: 150%;
	font-family: Copperplate;
	
}
#createBaccount{
	left: 74%;
	top: 290px;
	position: fixed;
}
#developers{
	
	position: absolute; bottom: 0px;
	left: 20%;
	font-family: Copperplate;
	color: gray;
}
/* .w-100{
	width: 50% !important;
	height: 100vh;
	align-content: center;
} */
h2{
	font-family: Copperplate;
	text-align: center;
	font-size: 220%;
	top: 50px;
}
h3{
	font-family: Copperplate;
	text-align: center;
	font-size: 150%;
}


