@charset "UTF-8";
 body{
	background-color: gray;
	color: white;
} 

#nav {
	position: fixed;
  left: 50%;
  bottom: 20px;
  transform: translate(-50%, -50%);
  margin: 0 auto;
 
}

.input-group {
	
	width: 300px;
	left: 60%;
}

h1{
text-align: center;	
font-family: Copperplate;
}

.delete {
	bottom: 20px;
	position: fixed;
	left: 85%;
	color: silver;
	background-color: #800000;
}
#logoutB{
	top:20px;
	position: fixed;
	left: 85%;
	
} 
#updateB{
	top: 60px;
	position: fixed;
	left: 85%;
	
}
th{
	text-align: center;	
	font-family: Copperplate;
	color: #800000;
}

td {
	text-align: center;	
	font-family: Copperplate;
	color: silver;
}

.table{
	position: fixed;
  left: 50%;
  bottom: 20px;
  transform: translate(-50%, -50%);
  margin: 0 auto;
	color: silver;
}
